@page "/Notifications/info"

<h3>Add desired Group Addresses :</h3>
<ul>
    <li>Archive - GA Trigger By Change</li>
    <li>Archive - GA Trigger By Thresholds Exceeding</li>
    <li>Telegram Bot Notifications</li>
</ul>

@code {

}
