@page "/Components/InterfaceList"

@using KNXManager.Models

<h3>Available Interfaces</h3>


@if (KnxInterfaceList.Count() != 0)
{
    <MatList>
        @foreach (var knxInterface in KnxInterfaceList)
        {
        <MatListItem>@knxInterface.Ip</MatListItem>
        <MatListItem>@knxInterface.Name</MatListItem>
        <MatListItem>@knxInterface.Connected</MatListItem>
        <MatListDivider></MatListDivider>
        }
    </MatList>
}

else
{
    <h4>Interfaces not found.</h4>
}





@code {

    [Parameter]
    public List<KnxInterface> KnxInterfaceList { get; set; }

}
