@page "/HS/Index"
@using KNXManager.HS

@inject IHsService hsService

<h3>HS4 Settings</h3>

<br />
<Field Horizontal="true">
    <FieldLabel ColumnSize="ColumnSize.Is2" TextAlignment="TextAlignment.End">HOST IP</FieldLabel>
    <FieldBody ColumnSize="ColumnSize.Is4">
        <TextEdit Placeholder="IP address" @bind-Text="hostIp"></TextEdit>
    </FieldBody>
</Field>
<Field Horizontal="true">
    <FieldLabel ColumnSize="ColumnSize.Is2" TextAlignment="TextAlignment.End">LOGIN</FieldLabel>
    <FieldBody ColumnSize="ColumnSize.Is4">
        <TextEdit Placeholder="Login" @bind-Text="login" Role="TextRole.Text" />
    </FieldBody>
</Field>
<Field Horizontal="true">
    <FieldLabel ColumnSize="ColumnSize.Is2" TextAlignment="TextAlignment.End">PASSWORD</FieldLabel>
    <FieldBody ColumnSize="ColumnSize.Is4">
        <TextEdit Placeholder="Password" @bind-Text="pass" Role="TextRole.Password"></TextEdit>
    </FieldBody>
</Field>
<Field Horizontal="true">
    <FieldLabel ColumnSize="ColumnSize.Is2" Visibility="Visibility.None"></FieldLabel>
    <FieldBody ColumnSize="ColumnSize.Is4">
        <MatButton Outlined="true" OnClick="OnHsSettingsOkClick">Set</MatButton>
    </FieldBody>
</Field>
<MatDivider></MatDivider>
<div>@loginList</div>
<MatButton OnClick="OnLoadClick" Disabled="@loadDsbl">LOAD</MatButton>


@code {
    string hostIp;
    string login;
    string pass;
    string loginList;
    string loginListContent;
    bool loadDsbl;

    void OnHsSettingsOkClick()
    {
        hsService.HostIp = hostIp;
        hsService.Login = login;
        hsService.Pass = pass;
        if (String.IsNullOrEmpty(hostIp) || String.IsNullOrEmpty(login) || String.IsNullOrEmpty(pass))
        {
            loadDsbl = true;
        }
        else
        {
            loadDsbl = false;
        }
        StateHasChanged();
    }

    async Task OnLoadClick()
    {
        loginList = await hsService.GetLoginActionsAsync();
        StateHasChanged();
        var parsedLogins = hsService.GetParsedLoginActions(loginList);
        var logActionsArray = hsService.GetLogValues(parsedLogins);
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        loginList = string.Empty;
        if (String.IsNullOrEmpty(hostIp) || String.IsNullOrEmpty(login) || String.IsNullOrEmpty(pass))
        {
            loadDsbl = true;
        }
        else
        {
            loadDsbl = false;
        }
    }
}
