<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">KNX GIRA Assistant</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" >
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <MatIcon Icon="home"></MatIcon> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Bot/botInfo" @onclick="() => collapseBotMenu = !collapseBotMenu">
                <MatIcon Icon="settings_cell"></MatIcon> Bot
            </NavLink>
            @if (collapseBotMenu)
            {
                <ul>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="Bot/botSettings">
                            <MatIcon Icon="info"></MatIcon> Settings
                        </NavLink>
                    </li>
                </ul>

            }
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Notifications/info" @onclick = "() => collapseNotifMenu = !collapseNotifMenu">
                <MatIcon Icon="event"></MatIcon> Notifications
            </NavLink>
            @if (collapseNotifMenu)
            {
                <ul>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="Notifications/Settings">
                            <MatIcon Icon="settings_remote"></MatIcon> Settings
                        </NavLink>
                    </li>
                </ul>
            }
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <MatIcon Icon="settings_applications"></MatIcon> Archive Settings
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="interfaces">
                <MatIcon Icon="settings_input_composite"></MatIcon>  KNX Settings
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool collapseBotMenu = false;
    private bool collapseNotifMenu = false;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {

        collapseNavMenu = !collapseNavMenu;
    }
}
