<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">KNX GIRA Assistant</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <MatIcon Icon="home"></MatIcon> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Bot/botInfo" @onclick="() => collapseBotMenu = !collapseBotMenu">
                <MatIcon Icon="settings_cell"></MatIcon> Monitoring
            </NavLink>
            @if (collapseBotMenu)
            {
                <ul>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="Bot/botSettings">
                            <MatIcon Icon="info"></MatIcon> Settings SBC
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="Bot/botMonitor">
                            <MatIcon Icon="timeline"></MatIcon> Monitor
                        </NavLink>
                    </li>
                </ul>

            }
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Archive/Info" @onclick="() => collapseArchiveMenu = !collapseArchiveMenu">
                <MatIcon Icon="settings_applications"></MatIcon> Archive KNX
            </NavLink>
            @if (collapseArchiveMenu)
            {
                <ul>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="Archive/LoadFromFile">
                            <MatIcon Icon="settings_remote"></MatIcon> Load from
                        </NavLink>
                    </li>
                </ul>
            }
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="interfaces">
                <MatIcon Icon="settings_input_composite"></MatIcon>  KNX Settings
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="HEOS/Index" @onclick="() => collapseACUMenu = !collapseACUMenu">
                <MatIcon Icon="settings_input_svideo"></MatIcon>  HEOS Settings
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ACU/Index">
                <MatIcon Icon="ac_unit"></MatIcon>  ACU Errors
            </NavLink>
            @if (collapseACUMenu)
            {
                <ul>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="ACU/Settings">
                            <MatIcon Icon="settings_remote"></MatIcon> Settings
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="ACU/DaikinErrorMapping">
                            <MatIcon Icon="sms"></MatIcon> DAIKIN Error Mapping
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="ACU/MeErrorMapping">
                            <MatIcon Icon="sms"></MatIcon> ME Error Mapping
                        </NavLink>
                    </li>
                </ul>
            }
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = false;
    private bool collapseBotMenu = false;
    private bool collapseNotifMenu = false;
    private bool collapseArchiveMenu = false;
    private bool collapseACUMenu = false;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {

        collapseNavMenu = !collapseNavMenu;
    }
}
